*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}
html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    line-height: 1.3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

/* NAV bar */
.header{
    display: flex;
    /* flex: 1 1 50%; */
    height: 14vh;
    /* position: sticky; */
    top: 0;
    width: 100%;
}
.nav-1{
    background-color: white;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    /* border: 2px solid black; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.name-container{
    /* border: 1px solid black; */
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-letter{
    color: rgb(228, 108, 108);
    font-weight: bolder;
    font-size: 1.1em;
    /* overflow-y: hidden;
    overflow-x: hidden; */
}
.name{
    color: rgb(10, 10, 97);
}
.nav-2{
    background-color: rgb(228, 108, 108);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1ch 0 1ch 1ch;
    font-size: 1.15rem;
    overflow-y: hidden;
}
.nav-2-content{
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1ch;
    margin: 0% 4%;
    transition: 0.5s ease-out;
}
.nav-2-content:hover{
    /* text-decoration: underline; */
    color: #000;
    background-color: #fff;
    border-radius: 2ch;
}
/* .hambuger{
    display: none;
    cursor: pointer;
}
.bar{
    display: none;
    margin-left: 1ch;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
} */

/* First Section */
.first-section{
    display: flex;
    width: 100%;
    max-height: 100vh;
}
.bg-img{
    height: 84vh;
    width: 45vw;
    margin-top: 3ch;
    margin-left: 1ch;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    width: 55vw;
    max-height: 84vh;
}
.intro-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    /* max-width: 40%;
    flex-wrap: wrap; */
    overflow-y: hidden;
    margin: 2ch;
    box-sizing: border-box;
    width: fit-content;
}
.intro-text{
    /* border: 2px solid black; */
    font-size: 2.4rem;
    font-weight: 700;
    overflow-y: hidden;
    width: fit-content;
    color: rgb(11, 3, 56);
    transition: 0.3s ease;
    overflow-x: hidden;
}
.intro-text:hover{
    color:rgb(38, 194, 142);
    font-family: cursive;
    font-size: 2.3rem;
}
.space{
    visibility: hidden;
}
.img{
    height: 40%;
    border: 4px solid #FE7266;
    border-radius: 2ch;
}

/* About Section */
.second-section{
    background-color: #fff;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
}
.text_about_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.text_about{
    margin: 1.5% 5%;
    font-size: large;
    font-weight: 600;
    background-color: #08355D; 
    color: #fff;
    padding: 2ch;
    border-radius: 2ch;
    width: 80%;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.text_about_container > :nth-child(1){
    transform: translate(3vw, 0);
}
.text_about_container > :nth-child(3){
    transform: translate(3.5vw, 0);
}
.second-section img{
    margin: 0 0 0 2ch;
    max-width: 50%;
}
.text_about:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

/* Skills Section */
.third-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    /* flex: 1 1 50%; */
}
.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    width: 63%;
    height: 100%;
}

/* ANIMATION IN SIDE STARTS*/
.cool-animation{
    width: 37%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 1, 1);
    border-radius: 0 5ch 5ch 0;
}
.loader{
    position: relative;
    width: 90px;
    height: 90px;
    background: rgb(0, 0, 0);
    border: 1px solid white;
}
.loader div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    border: 1px solid white;
    animation: animate 1.2s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

.loader div:nth-child(1){
    position: absolute;
    top: -100%;
    left: -3%;
    transform-origin: bottom right;
}
.loader div:nth-child(1)::before{
    background-color: rgb(253, 249, 2);
}
.loader div:nth-child(2){
    right: -100%;
    top: -3%;
    transform-origin: bottom left;
}
.loader div:nth-child(2)::before{
    background-color: rgb(2, 253, 35);
}
.loader div:nth-child(3){
    bottom: -100%;
    left: 3%;
    transform-origin: top left;
}
.loader div:nth-child(3)::before{
    background-color: rgb(253, 81, 2);
}
.loader div:nth-child(4){
    left: -100%;
    top: 3%;
    transform-origin: top right;
}
.loader div:nth-child(4)::before{
    background-color: rgb(253, 2, 211);
}
.loader:before, .loader div::before{
    content: '';
    position: absolute;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
    background-color: #fff;
}
/* ANIMATION ENDS */


.third-section h3{
    margin: 1.5ch 0;
}
.heading{
    margin-bottom: 2ch;
    font-size: xx-large;
    padding: 1ch;
    font-weight: 600;
    color: #08355D;
}
.tech{
    border: 2px solid black;
    width: 80%;
    height: min(5.5vh,100px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1ch;
}
.bar-html{
    width: 80%;
    height: 80%;
    background-color: rgb(228, 108, 108);
    margin-left: 0.8ch;
    border-radius: 0.8ch;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.bar-css{
    width: 75%;
    height: 80%;
    background-color: rgb(228, 108, 108);
    margin-left: 0.8ch;
    border-radius: 0.8ch;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.bar-js{
    width: 20%;
    height: 80%;
    background-color: rgb(228, 108, 108);
    margin-left: 0.8ch;
    border-radius: 0.8ch;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.bar-js:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);   
}
.bar-css:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);   
}
.bar-html:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);   
}

/* Contact Me */
.fourth-section{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-heading{
    font-size: xx-large;
    font-weight: 500;
    color: rgb(12, 102, 72);
}
.fourth-section form {
    margin: 12ch;
    min-height: 30%;
    overflow-y: hidden;
}
#email, #content{
    padding: 1ch;
    margin: 1ch;
    width: 65vw;
    height: 25%;
    border-radius: 1ch;
}
#sub_btn{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5ch;
    margin-left: 1.08ch;
    background-color:#08355D;
    color: #fff;
    border-radius: 1ch;
    width: 8ch;
}

/* footer */

.footer{
    height: 26vh;
    background-color:#08355D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 2ch;
    border-top-right-radius: 2ch;
}
.main_container_footer{
    /* border: 2px solid white; */
    width: 50%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-name{
    color:#fd6b61;
    font-weight: bold;
    font-size: x-large;
}    
.social-icons{
    display: flex;
    /* border: 1px solid wheat; */
}
.social-icons>a{
    text-decoration: none;
    margin: 0 1ch;
    color: white;
}
.github-icon{
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    border-radius: 0.4ch;
}
.end-text-container{
    display: flex;
    align-items: flex-start;
    color: #fff;
}
.end-text-container>img{
    margin-left: 0.5ch;
}


@media (max-width:950px){
    
    .header{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 20vh;
    }
    .nav-2{
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
    .first-letter{
        font-size: 2rem;
    }
    .name{
        font-size: 2rem;
    }
    .nav-1{
        width: 100%;
        height: 80%;
        justify-content: center;
    }
    .bg-img{
        display: none;
    }
    .first-section{
        justify-content: center;
    }
    .secondary-text{
        display: none;
    }
    .intro-text{
        font-size: 20px;
    }
    .second-section{
        flex-direction: column;
        align-items: center;
    }
    .third-section{
        flex-direction: column;
    }
    .cool-animation{
        width: 100%;
        border-radius: 0;
        height: 100%;
        margin-top: 50px;
    }
    .loader{
        height: 60px;
        width: 60px;
    }
    .skills-container{
        width: 100%;
    }
    .fourth-section{
        height: 80vh;
        align-items: center;
    }
}
@media (max-height:670px){
    .cool-animation{
        display: none;
    }
}
